#crrlib-canvas-container
{
	position: relative;
	top: 0;
	left: 0;
}

.crrlib-mycanvas
{
	position: absolute;
}

#crrlib-mycanvas0
{
	z-index: 0;
}

#crrlib-mycanvas1
{
	z-index: 1;
}

#crrlib-mycanvas-guide
{
	z-index: 2;
}
